.header {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Thêm bóng đổ cho header */
}

.logout:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Thêm hiệu ứng khi hover vào phần logout */
  border-radius: 4px; /* Bo góc nhẹ cho phần logout */
  padding: 5px;
}
