<div>
  <label for="year">Year:</label>
  <select id="year" (change)="onYearChange($event)">
    <option
      *ngFor="let year of [2023, 2024, 2025]"
      [value]="year"
      [selected]="year === currentYear"
    >
      {{ year }}
    </option>
  </select>

  <label for="month">Month:</label>
  <select id="month" (change)="onMonthChange($event)">
    <option
      *ngFor="let month of months"
      [value]="month - 1"
      [selected]="month - 1 === currentMonth"
    >
      {{ month }}
    </option>
  </select>
</div>

<table border="1">
  <thead>
    <tr>
      <th *ngFor="let day of weekdays">{{ day }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let week of daysInMonth">
      <td
        *ngFor="let day of week"
        (click)="onDayClick(day)"
        style="cursor: pointer"
      >
        <div *ngIf="day">
          <strong>{{ day.date }}</strong>
          <!-- Display the date -->
          <div class="status-container">
            <div
              [ngClass]="{
                'status-pending': day.status === 'pending',
                'status-approved': day.status === 'approved'
              }"
            >
              {{ day.status }}
            </div>
            <div
              *ngIf="day.type"
              [ngStyle]="{ 'background-color': getTypeColor(day.type) }"
              class="type-label"
            >
              {{ day.type }}
            </div>
          </div>
        </div>
        <div *ngIf="!day">
          <!-- Optional: Handle empty days -->
          &nbsp;
          <!-- Or replace with a placeholder -->
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div [class.active]="showForm" class="floating-form" *ngIf="showForm">
  <div class="form-header">Request Details</div>
  <div class="form-body">
    <label for="statusSelect">Type Request</label>
    <select id="statusSelect" [(ngModel)]="selectedStatus">
      <option value="di-muon">Đi muộn</option>
      <option value="ve-som">Về sớm</option>
      <option value="off-sang">Off sáng</option>
      <option value="off-chieu">Off chiều</option>
      <option value="off-ca-ngay">Off cả ngày</option>
    </select>

    <label for="hoursInput">Hours:</label>
    <input
      id="hoursInput"
      type="number"
      [(ngModel)]="selectedHours"
      [disabled]="selectedStatus !== 'di-muon' && selectedStatus !== 've-som'"
      [value]="getDefaultHours(selectedStatus)"
      (change)="validateHours()"
    />
    <div *ngIf="hoursError" class="error-message">
      Hours cannot exceed 2.00 for Đi muộn/Về sớm!
    </div>

    <label for="reasonInput">Reason:</label>
    <input type="text" [(ngModel)]="reason" id="reasonInput" />
  </div>
  <div class="form-footer">
    <button class="confirm-btn" (click)="confirmRequest()">Confirm</button>
    <button class="cancel-btn" (click)="closeForm()">Cancel</button>
  </div>
</div>
