<div class="calendar">
  <!-- Header -->
  <div class="calendar-header">
    <div class="header-container">
      <h3>My Requests</h3>
      <div class="select-container">
        <label for="yearSelect">Year:</label>
        <select id="yearSelect" [(ngModel)]="selectedYear" (change)="onYearOrMonthChange()">
          <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>

        <label for="monthSelect">Month:</label>
        <select id="monthSelect" [(ngModel)]="selectedMonth" (change)="onYearOrMonthChange()">
          <option *ngFor="let month of months" [value]="month.value">
            {{ month.name }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <!-- Calendar Body -->
  <div class="calendar-body">
    <!-- Header row with the days of the week -->
    <div class="calendar-row calendar-header-row">
      <div class="calendar-cell" *ngFor="let day of daysOfWeek">
        {{ day }}
      </div>
    </div>

    <!-- Rows with the days of the month -->
    <div class="calendar-row" *ngFor="let week of calendarDays">
      <div class="calendar-cell" *ngFor="let day of week" [class.other-month]="!day.isCurrentMonth"
        (click)="handleClick(day.day)">
        <div *ngIf="isWeekend(day.day)" class="off-label">OFF</div>
        <div *ngIf="day.status" [ngClass]="day.status">
          {{ day.status | uppercase }}
        </div>
        {{ extractDay(day.day) }}
      </div>
    </div>
  </div>



  <!-- Floating Form -->
  <div [class.active]="showForm" class="floating-form">
    <div class="form-header">Request Details</div>
    <div class="form-body">
      <!-- Option Selector -->
      <label for="statusSelect">Type Request</label>
      <select id="statusSelect" [(ngModel)]="selectedStatus">
        <option value="di-muon">Đi muộn</option>
        <option value="ve-som">Về sớm</option>
        <option value="off-sang">Off sáng</option>
        <option value="off-chieu">Off chiều</option>
        <option value="off-ca-ngay">Off cả ngày</option>
      </select>

      <!-- Hours Input -->
      <label for="hoursInput">Hours:</label>
      <input id="hoursInput" type="number" [(ngModel)]="selectedHours"
        [disabled]="selectedStatus !== 'di-muon' && selectedStatus !== 've-som'"
        [value]="getDefaultHours(selectedStatus)" (change)="validateHours()" />
      <div *ngIf="hoursError" class="error-message">
        Hours cannot exceed 2.00 for Đi muộn/Về sớm!
      </div>

      <label for="reassonInput">Reasson: </label>
      <input type="text" [(ngModel)]="reason" id="reassonInput" />
    </div>
    <div class="form-footer">
      <button class="confirm-btn" (click)="confirmRequest()">Confirm</button>
      <button class="cancel-btn" (click)="closeForm()">Cancel</button>
    </div>
  </div>
</div>
  <!-- Send Request Button -->
  <div class="send-request-container">
    <button class="send-request-btn" (click)="sendRequest()">
      Send Request
    </button>
  </div>