<div class="calendar">
  <div class="calendar-header">
    <div class="header-container">
      <h3>My Requests</h3>
      <div class="select-container">
        <label for="yearSelect">Year:</label>
        <select
          id="yearSelect"
          [(ngModel)]="selectedYear"
          (change)="onYearOrMonthChange()"
        >
          <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>

        <label for="monthSelect">Month:</label>
        <select
          id="monthSelect"
          [(ngModel)]="selectedMonth"
          (change)="onYearOrMonthChange()"
        >
          <option *ngFor="let month of months" [value]="month.value">
            {{ month.name }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="calendar-body">
    <!-- Header row with the days of the week -->
    <div class="calendar-row calendar-header-row">
      <div class="calendar-cell" *ngFor="let day of daysOfWeek">
        {{ day }}
      </div>
    </div>

    <!-- Rows with the days of the month -->
    <div class="calendar-row" *ngFor="let week of calendarDays">
      <div
        class="calendar-cell"
        *ngFor="let day of week"
        [class.other-month]="!day.isCurrentMonth"
        (click)="handleClick(day.day)"
      >
        <!-- Hiển thị trạng thái -->
        <div *ngIf="isWeekend(day.day)" class="off-label">OFF</div>
        <div *ngIf="day.status" [ngClass]="day.status">
          {{ day.status | uppercase }}
        </div>
        {{ extractDay(day.day) }}
      </div>
    </div>
  </div>
  <div class="send-request-container">
    <button class="send-request-btn" (click)="sendRequest()">
      Send Request
    </button>
  </div>
</div>
