<div class="main-content" style="width: 80%">
  <ng-container [ngSwitch]="currentRoute">
    <app-my-info *ngSwitchCase="'/home/my-info'"></app-my-info>
    <app-my-timesheet *ngSwitchCase="'/home/my-timesheet'"></app-my-timesheet>
    <app-my-request *ngSwitchCase="'/home/my-request'"></app-my-request>
    <app-users *ngSwitchCase="'/home/users'"></app-users>
    <app-role *ngSwitchCase="'/home/role'"></app-role>
    <app-project *ngSwitchCase="'/home/project'"></app-project>
    <app-request *ngSwitchCase="'/home/request'"></app-request>
    <app-salary *ngSwitchCase="'/home/salary'"></app-salary>
    <app-daily *ngSwitchCase="'/home/daily'"></app-daily>
    <app-my-timesheet *ngSwitchDefault></app-my-timesheet>
  </ng-container>
</div>
